In [1]:
import pandas as pd
from datetime import datetime


def combine_to_datetime(df):
    fixed_hour = df["Hora"].astype(str).apply(lambda x: "0" + x if len(x) == 1 else x)
    df["Timestamp"] = pd.to_datetime(df['Ano'].astype(str) + "-" + df['Mês'].astype(str) + "-" + df["Dia"].astype(str) + " " + fixed_hour, format="%Y-%m-%d %H")
    df = df.drop(columns=["Hora", "Ano", "Mês", "Dia"])
    return df

# Loading ticket validation data

In [2]:
df_ferrov = pd.read_csv("data/TIP/202205_ate_07_20220908/20220908_Validacoes_Ferrov.txt", delimiter="\t", encoding="latin1")
df_ferrov = combine_to_datetime(df_ferrov)
df_ferrov["Transport"] = "Ferrov"
df_ferrov["Zona"] = df_ferrov["Zona"].str.rstrip()
df_ferrov["Est/Op"] = df_ferrov["Est/Op"].str.rstrip()
df_ferrov = df_ferrov.rename({"Est/Op": "stop_name", "Zona": "zone_id"}, axis=1)
df_ferrov

,Operador,stop_name,zone_id,Validações,Timestamp,Transport
0,CP-Porto,CP-Porto / Águas Santas,MAI4,1,2022-05-01 00:00:00,Ferrov
1,CP-Porto,CP-Porto / Cabeda,MAI4,1,2022-05-01 00:00:00,Ferrov
2,CP-Porto,CP-Porto / Campanhã,PRT1,49,2022-05-01 00:00:00,Ferrov
3,CP-Porto,CP-Porto / Contumil,PRT3,3,2022-05-01 00:00:00,Ferrov
4,CP-Porto,CP-Porto / Cortegaça,,1,2022-05-01 00:00:00,Ferrov
...,...,...,...,...,...,...
273484,Metro do Porto,Venda-a-Nova,GDM1,3,2022-07-31 23:00:00,Ferrov
273485,Metro do Porto,Verdes,VCD8,2,2022-07-31 23:00:00,Ferrov
273486,Metro do Porto,Vila do Conde,PV_VC,5,2022-07-31 23:00:00,Ferrov
273487,Metro do Porto,Vilar do Pinheiro,VCD8,3,2022-07-31 23:00:00,Ferrov
273488,Metro do Porto,Viso,PRT2,4,2022-07-31 23:00:00,Ferrov

In [3]:
df_rodov = pd.read_csv("data/TIP/202205_ate_07_20220908/20220908_Validacoes_Rodov.txt", delimiter="\t", encoding="latin1", skiprows=[1035863, 1230997])
df_rodov = combine_to_datetime(df_rodov)
df_rodov["Transport"] = "Rodov"
df_rodov["Zona"] = df_rodov["Zona"].str.rstrip()
df_rodov["Paragem"] = df_rodov["Paragem"].str.rstrip()
df_rodov = df_rodov.rename({"Paragem": "stop_name", "Zona": "zone_id"}, axis=1)
df_rodov

,Operador,Linha_ao_Publico,Sentido,stop_name,zone_id,Validações,Timestamp,Transport
0,Carvalhos,50,1.0,NaN,PRT1,3,2022-05-16 00:00:00,Rodov
1,Carvalhos,50,1.0,NaN,VNG1,8,2022-05-16 00:00:00,Rodov
2,Carvalhos,50,1.0,NaN,VNG3,3,2022-05-16 00:00:00,Rodov
3,Carvalhos,50,1.0,NaN,VNG7,3,2022-05-16 00:00:00,Rodov
4,Espírito Santo,15,2.0,NaN,PRT1,1,2022-05-16 00:00:00,Rodov
...,...,...,...,...,...,...,...,...
1230990,Resende,4,1.0,NaN,MTS2,8,2022-06-26 23:00:00,Rodov
1230991,Resende,4,1.0,NaN,MTS3,6,2022-06-26 23:00:00,Rodov
1230992,Resende,4,2.0,NaN,MTS3,1,2022-06-26 23:00:00,Rodov
1230993,Resende,5,2.0,NaN,MTS1,8,2022-06-26 23:00:00,Rodov
1230994,Resende,7,2.0,NaN,MAI4,6,2022-06-26 23:00:00,Rodov

In [4]:
df_transport = pd.concat([df_rodov, df_ferrov])
df_transport

,Operador,Linha_ao_Publico,Sentido,stop_name,zone_id,Validações,Timestamp,Transport
0,Carvalhos,50,1.0,NaN,PRT1,3,2022-05-16 00:00:00,Rodov
1,Carvalhos,50,1.0,NaN,VNG1,8,2022-05-16 00:00:00,Rodov
2,Carvalhos,50,1.0,NaN,VNG3,3,2022-05-16 00:00:00,Rodov
3,Carvalhos,50,1.0,NaN,VNG7,3,2022-05-16 00:00:00,Rodov
4,Espírito Santo,15,2.0,NaN,PRT1,1,2022-05-16 00:00:00,Rodov
...,...,...,...,...,...,...,...,...
273484,Metro do Porto,NaN,NaN,Venda-a-Nova,GDM1,3,2022-07-31 23:00:00,Ferrov
273485,Metro do Porto,NaN,NaN,Verdes,VCD8,2,2022-07-31 23:00:00,Ferrov
273486,Metro do Porto,NaN,NaN,Vila do Conde,PV_VC,5,2022-07-31 23:00:00,Ferrov
273487,Metro do Porto,NaN,NaN,Vilar do Pinheiro,VCD8,3,2022-07-31 23:00:00,Ferrov
273488,Metro do Porto,NaN,NaN,Viso,PRT2,4,2022-07-31 23:00:00,Ferrov

# Loading geographic data of stations/lines

In [5]:
ferrov_stops = pd.read_csv("data/gtfs_metro_07_22/google_transit/stops.txt").drop(columns=["stop_url", "stop_desc", "stop_code", "stop_id"])
ferrov_stops["Transport"] = "Ferrov"
rodov_stops = pd.read_csv("data/gtfs-stcp/gtfs-stcp/stops.txt").drop(columns=["stop_url", "stop_code", "stop_id"])
rodov_stops["Transport"] = "Rodov"
transport_stops = pd.concat([ferrov_stops, rodov_stops])
transport_stops

                 stop_name   stop_lat  stop_lon zone_id Transport
0        Estadio do Dragao  41.160716 -8.582416    PRT1    Ferrov
1                 Campanha  41.150537 -8.586245    PRT1    Ferrov
2                 Heroismo  41.146697 -8.592978    PRT1    Ferrov
3             24 de Agosto  41.148796 -8.598349    PRT1    Ferrov
4                   Bolhao  41.149785 -8.605901    PRT1    Ferrov
...                    ...        ...       ...     ...       ...
2485     R. ESTAÇÃO ARAÚJO  41.216861 -8.635778    MAI1     Rodov
2486     R. ESTAÇÃO ARAÚJO  41.216877 -8.635927    MAI1     Rodov
2487              CARRIÇAL  41.186150 -8.658733    MTS1     Rodov
2488              CARRIÇAL  41.186357 -8.657990    MTS1     Rodov
2489  PARQUE J. G. LARANJO  41.184778 -8.661889    MTS1     Rodov

[2574 rows x 5 columns]

# Plot stops and ticket validation

## Data Quality
- It is hard to match the name of the stations in the coordinates data with the ticket validation data because **the station names are no identical between the 2 places**.

In [6]:
df = pd.merge(df_transport, transport_stops, how="inner", on=["stop_name", "zone_id", "Transport"])
df

,Operador,Linha_ao_Publico,Sentido,stop_name,zone_id,Validações,Timestamp,Transport,stop_lat,stop_lon
0,STCP,11M,1.0,AV. ALIADOS,PRT1,2,2022-05-16 00:00:00,Rodov,41.148818,-8.610472
1,STCP,11M,1.0,AV. ALIADOS,PRT1,2,2022-05-16 00:00:00,Rodov,41.147365,-8.611474
2,STCP,11M,1.0,AV. ALIADOS,PRT1,2,2022-05-16 00:00:00,Rodov,41.148155,-8.611358
3,STCP,5M,1.0,AV. ALIADOS,PRT1,24,2022-05-16 00:00:00,Rodov,41.148818,-8.610472
4,STCP,5M,1.0,AV. ALIADOS,PRT1,24,2022-05-16 00:00:00,Rodov,41.147365,-8.611474
...,...,...,...,...,...,...,...,...,...,...
2475598,Metro do Porto,NaN,NaN,Mandim,MAI2,5,2022-07-31 19:00:00,Ferrov,41.253577,-8.628308
2475599,Metro do Porto,NaN,NaN,Mandim,MAI2,1,2022-07-31 20:00:00,Ferrov,41.253577,-8.628308
2475600,Metro do Porto,NaN,NaN,Mandim,MAI2,1,2022-07-31 21:00:00,Ferrov,41.253577,-8.628308
2475601,Metro do Porto,NaN,NaN,Mandim,MAI2,2,2022-07-31 22:00:00,Ferrov,41.253577,-8.628308
2475602,Metro do Porto,NaN,NaN,Mandim,MAI2,1,2022-07-31 23:00:00,Ferrov,41.253577,-8.628308